{{> _header}}

    <main role="main" class="container">
        <h1 class="text-center" data-intro="Essa página é dedicada para mostrar informações sobre os travamentos que ocorrem com os usuários, útil para poder verificar e corrigir os erros existentes o mais rápido possível.">Travamentos</h1>

        <nav class="nav nav-pills nav-fill justify-content-around mt-5">
            <a class="nav-link" href="/dashboard">Dados gerais</a>
            <a class="nav-link active" href="/dashboard/crashes">Travamentos</a>
            <a class="nav-link" href="/dashboard/usuarios">Usuarios</a>
        </nav>

        <hr>

        <div class="row justify-content-around" data-intro="Aqui é mostrado uma tabela com todos os erros e informações gravadas quando o erro ocorreu no seu app. No canto superior esquerdo está o botão com dicas e mais informações sobre essa tabela." data-scrollTo="tooltip">
            <div class="col-md-11 shadow bg-white border rounded stats-box">
                <h2 class="text-center">Tabela de travamentos do app</h2>

                <center><div class="lds-dual-ring" id="ring-loading1"></div></center>
                <table id="crashes" style="display: none;" class="table table-striped responsive table-bordered" width="100%" data-hint="Cada linha da tabela é um erro que ocorreu com um usuário, especificado pelo ID usuário. Além das informações do dispositivo no momento atual do erro, existe uma coluna Stack-trace, onde é detalhado o erro que ocorreu e em qual parte do código do app.">
                    <thead>
                        <tr>
                            <th>ID usuário</th>
                            <th>Data</th>
                            <th>CPU</th>
                            <th>Ram atual</th>
                            <th>Ram total</th>
                            <th>Capacidade atual</th>
                            <th>Capacidade total</th>
                            <th>Bateria atual</th>
                            <th>Orientação da tela</th>
                            <th>Silenciado?</th>
                            <th>Processo de fundo?</th>
                            <th>Tratado?</th>
                            <th>Tempo de funcionamento</th>
                            <th>Stack-trace</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>ID usuário</th>
                            <th>Data</th>
                            <th>CPU</th>
                            <th>Ram atual</th>
                            <th>Ram total</th>
                            <th>Capacidade atual</th>
                            <th>Capacidade total</th>
                            <th>Bateria atual</th>
                            <th>Orientação da tela</th>
                            <th>Silenciado?</th>
                            <th>Processo de fundo?</th>
                            <th>Tratado?</th>
                            <th>Tempo de funcionamento</th>
                            <th>Stack-trace</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row justify-content-around" data-intro="Aqui é mostrado um gráfico para melhor visualizar as informações de travamentos obtidas." data-scrollTo="tooltip">
            <div class="col-md-11 shadow bg-white border rounded stats-box">
                <div id="chartCrashes" style="width:100%; height:400px;" data-hint="Gráfico de barras que mostram a quantidade de erros, divididos em duas categorias, por mês. Erros tratados são os erros que seu app foi implementado para executar alguma ação para tentar remediar o ocorrido."></div>
            </div>
        </div>

        {{> _graficosCrashes}}
    </main>

    <script>
        let intro = introJs().setOptions({
            'skipLabel': 'Pular tour',
            'doneLabel': 'Concluir',
            'nextLabel': 'Próximo >',
            'prevLabel': '< Anterior',
            'exitOnOverlayClick': false,
            'showStepNumbers': false,
            'scrollTo': 'element',
            'overlayOpacity': 0.9
        });

        {{!-- {{#if (is_equal usuarioLogado.nivel 'Iniciante') }} --}}
            {{#if usuarioNovo }}
                intro.start();
            {{/if}}
        {{!-- {{/if}} --}}

        document.getElementById('ver-tour').addEventListener('click', () => {
            intro.start();
        });

        $(document).ready(function() {
            $('#crashes').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
                "data": {{{json crashes}}},
                "drawCallback": function( settings ) {
                    $('#ring-loading1').hide();
                    $('#crashes').show();
                },
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return 'Detalhes do erro';
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                            tableClass: 'table'
                        } )
                    }
                },
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: 1 },
                    { responsivePriority: 3, targets: -1 }
                ],
                "columns" : [
                    { "data" : "id_usuario" },
                    { 
                        "data" : "crashed_at",
                        "render": (data) => {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()) + "/" + (month >= 10 ? month : "0" + month) + "/" + date.getFullYear();
                        }    
                    },
                    { "data" : "cpu" },
                    { 
                        "data" : "ram_current",
                        "render": (data) => { return data + "Kb"; }
                    },
                    { 
                        "data" : "ram_total",
                        "render": (data) => { return data + "Kb"; }
                    },
                    { 
                        "data" : "disk_current",
                        "render": (data) => { return data + "Kb"; }
                    },
                    { 
                        "data" : "disk_total",
                        "render": (data) => { return data + "Kb"; }
                    },
                    { 
                        "data" : "bateria_current",
                        "render": (data) => { return data + "%"; }
                    },
                    { "data" : "orientacao" },
                    { 
                        "data" : "muted",
                        "render": (data) => { return (data ? "Sim" : "Não"); }
                    },
                    { 
                        "data" : "background",
                        "render": (data) => { return (data ? "Sim" : "Não"); }
                    },
                    { 
                        "data" : "nonfatal",
                        "render": (data) => { return (data ? "Sim" : "Não"); }
                    },
                    { 
                        "data" : "run_time",
                        "render": (data) => { return data + "s"; }
                    },
                    { "data" : "stack_trace" }
                ],
                "initComplete": function(settings, json) {
                    {{!-- {{#if (is_equal usuarioLogado.nivel 'Iniciante') }} --}}
                        introJs().setOptions({
                            'hintButtonLabel': '',
                            'hintPosition': 'top-left'
                        }).addHints();
                    {{!-- {{/if}} --}}
                }
            });
        });
    </script>

{{> _footer}}