<%- include('../layout/_header'); %>

    <main role="main" class="container">
        <h1>Dashboard</h1>

        <p>A chave SDK para realizar a integração com o app é: <strong><%= appID %></strong></p>
    </main>

<%- include('../layout/_footer'); %>