<%- include('../layout/_header'); %>

    <div class="text-center">
        <h1>Erro interno :(</h1>
        <p>Houve um problema do nosso lado, estamos trabalhando para corrigir.</p>
    </div>

<%- include('../layout/_footer'); %>