<%- include('../layout/_header'); %>

    <main role="main" class="container index shadow">

        <%if (message != '') { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <%}%>

        <h1>Analytics para seu app de forma simples.</h1>
        <hr>
        <section class="what-index">
            <h2>O que é?</h2>
            <p>Applytics é um sistema de analytics voltados ao mercado de aplicativos mobile com o intuito de ser uma alternativa simples e rápida para aprender a consultar e analisar dados de navegações dos usuários.</p>
        </section>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/estatisticas.PNG" alt="First slide" style="height: 400px">
                    <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.6;">
                        <h5>Estatísticas</h5>
                        <p>Para facilmente visualizar a eficácia do seu app</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/img/graficos.PNG" alt="Second slide" style="height: 400px">
                    <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.6;">
                        <h5>Gráficos</h5>
                        <p>Para poder comparar dados de forma simples</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/img/mapas.PNG" alt="Third slide" style="height: 400px">
                    <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.6;">
                        <h5>Mapas</h5>
                        <p>Para saber de onde vem seu público</p>
                    </div>
                  </div>
                </div>
            </div>

        <section class="who-index">
            <h2>Para quem?</h2>
            <p>Feito para todos que possuem apps em mercado Android, seja ele de qualquer categoria ou tipo, mas com foco em principiantes na área de analytics que tem a pretensão de aprender a como melhor utilizar essa tecnologia pra melhorar seu app.</p>
        </section>

        <section class="how-index">
            <h2>Como utilizar?</h2>
            <p>O sistema tem apenas um plano gratuito, então basta se cadastrar, criar um novo aplicativo no dashboard, e com ajuda da nossa <a href="#">documentação</a>, usar o código SKD fornecido e implementar os ganchos que capturaram os dados do seu app android, depois só esperar as interações de usuários e recarregar a dashboard para já poder visualizar os dados obtidos.</p>
        </section>
    </main>

<%- include('../layout/_footer'); %>