<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#343A40">
        <link rel="stylesheet" href="/css/test.css">
        <script src="/js/main.js"></script>
        <title>Applytics</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
                <div>
                    <a class="navbar-brand" href="/">Applytics</a>
                </div>
                
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <% if (usuarioLogado === undefined) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/usuarios/cadastro">Sign-up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/usuarios/login">Log-in</a>
                                </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bem-vindo <%= usuarioLogado.local.nome %></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                            <a class="dropdown-item" href="/usuarios/<%= usuarioLogado._id %>">Alterar perfil</a>
                                            <a class="dropdown-item" href="/dashboard/novo">Cadastrar novo app</a>
                                            <a class="dropdown-item" href="/dashboard/editar">Editar app selecionado</a>
                                            <a class="dropdown-item" href="/usuarios/logout">Log-out</a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>