{{> _header}}

    <main role="main" class="container">
        <div class="card bg-light mb-3 mx-auto shadow form-box">
            <div class="card-header text-center">
                <h1>Cadastro</h1>
            </div>
            <div class="card-body">
                <form action="/usuarios" method="post">
                    {{> _mensagensValidacao}}
                    
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="nome" class="form-control" value="{{ usuario.nome }}" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" value="{{ usuario.email }}" required>
                    </div>
                    <div class="form-group">
                        <label for="nivel">Nível</label>
                        <select name="nivel" id="nivel" class="form-control" required>
                            <option value="" selected disabled>Selecione o seu nível de conhecimento em analytics</option>
                            <option value="Iniciante" {{#if (is_equal usuario.nivel 'Iniciante') }}selected{{/if}}>Iniciante</option>
                            <option value="Avançado" {{#if (is_equal usuario.nivel 'Avançado') }}selected{{/if}}>Avançado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="senha-confirm">Confirme a senha</label>
                        <input type="password" name="senha-confirm" id="senha-confirm" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </main>

{{> _footer}}